body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color:white;
}
.scroll-container{
    margin-top:6rem;
    width: 25rem;
    height: 30px;
    background: black;
}
.scroll-content{
    width: 400px;
    height: 500px;
    background: black;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-object{
    padding: 20px;
}

